extends ../blocks/main

block head
    title Школа рока "School Of Rock" | Преподаватель музыки, #{instrument.title}
    meta(name='description', content='Музыкальная школа "School Of Rock" в Москве.' +
                                     'Обучение по направлениям: электрогитара, барабаны, рок-вокал, бас гитара, клавишные (синтезатор), акустическая гитара.')

block body
    div.instrument-detail-page
        div.main
            div.title=instrument.title

            if teachers && teachers.length
                ul.teachers
                    each teacher in teachers
                        li
                            a(href=router.url('teacher', teacher.slug))= teacher.name

            div.markdown
                !{instrument.extendedDescription}

        div.additional
            if instruments && instruments.length
                ul.instruments
                    each instrument in instruments
                        li
                            a(href=router.url('instrument', instrument.slug))= instrument.title

            div.try-it
                div.try-it-title
                    div.try-it-icon
                    span Попробуйте
                div.try-it-buttons
                    a(class='btn free-lesson' href='#') Бесплатный урок
                    a(class='btn phone-me' href='#') Позвоните мне!
